table {
  width:100%;
  padding: calc( 5vmin );
  padding-top: 50px;
}

th {
  padding:1vmin;
}

td {
  padding:10px;
}

tr:not(.selected):nth-child(odd) td {
  background-color: #e5e9f0;
}

.namecol {
  text-align: left;
  font-size: calc(20px + 1vmin);
}

.numcol {
  text-align: right;
  padding: 4vmin;
  padding-bottom: 0vmin;
}

.minorprefix {
  font-size: calc(20px + 1vmin);
  text-align: center;
}

.minorpostfix {
  font-size: calc(10px + 1vmin);;
  text-align: center;
}

tr.selected {
  background-color: gold;
}

.editbutton:not(.selected) {
  display:none
}

.editbutton.selected {
  background-color:palegoldenrod;
  position: absolute;
  right: 50px;
}

.hiding {
  display: none;
}

@media (max-width: 600px) {
  .droppable {
    display:none;
  }
}
