table {
  width:100%;
  padding:50px;;
}

th {
  padding:2vmin;
}

td {
  padding:10px;
}

tr:not(.selected):nth-child(odd) td {
  background-color: #e5e9f0;
}

.namecol {
  text-align: left;
  font-size: calc(20px + 1vmin);;
}

.numcol {
  text-align: right;
  padding: 2vmin;
}

.minorprefix {
  font-size: calc(20px + 1vmin);;
  text-align: center;
  
}

tr.selected {
  background-color: gold;
}

