.App {
  text-align: center;
}

.shrink-logo {
  height: 40vmin;
  position: absolute;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shrink-header {
  /* animation: 0.5s shrink-header 2s linear 1 forwards */
}

.shrink-logo {
  /* animation: 0.5s shrink-logo 2s linear 1 forwards */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrink-logo {
  from {
    left: 50%;
    transform: translateX(-50%);
    max-height:40vmin;
  }
  to {
    left: 0px;
    transform: translateX(0);
    max-height:40px;
  }
}

@keyframes shrink-header {
  from {
    min-height:100vmin;
  }
  to {
    min-height:60px;
  }
}
