.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo-box {
  border: 2px solid black;
  animation: 2.5s shrink-logo-box 2s linear 1 forwards;
  position:absolute;
  width:100%;
}

.headline {
  color: #61dafb;
  border: 2px solid white;
  white-space: nowrap;
  width: 100%
}

.shrink-header {
  /* animation: 2.5s shrink-header 2s linear 1 forwards */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrink-header {

  to {
    max-height:60px;
    min-height:60px;
  }
}


@keyframes shrink-logo-box {
  /* from {
    width:100%
  } */
  to {
    width:65px;
  }
}



